.search-form-wraper {
    display: inline-block;
    padding: 20px;
    border-radius: 0 5px 5px 0;
    background: white;
    position: fixed;
    z-index: 999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    left: 0;
    -webkit-transition: left .4s ease-in-out;
    -moz-transition: left .4s ease-in-out;
    -ms-transition: left .4s ease-in-out;
    -o-transition: left .4s ease-in-out;
    transition: left .4s ease-in-out;
}

.search-input {
    width: 250px;
    margin-bottom: 10px;
}

.search-form-group {
    width: 250px;
}

.search-form-lable {
    color: #999999;
    margin-left: 12px;
}

.search-form-selecnt-wraper {
    width: 143px;
    display: inline-block;
    margin-left: 27px;
    padding-bottom: 10px;
}

.search-form-selecnt {
    width: 155px;
}

.search-form-btn-wraper {
    margin-top: 15px;
}

.search-form-btn-ok {
    float: right;
}

.search-form-wraper-hiden {
    left: -310px;
}

.search-form-open-btn {
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 3px 5px;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 500;
    width: 25px;
    padding-left: 10px;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 10px;
    top: 119px;
}

.search-form-close {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 400;
}

.search-form-close-hiden {
    display: none;
}

.search-form-price {
    width: 85px;
}

#Brand {
    margin-top: 10px;
}
